{% extends 'base.tmpl' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Дікарева</h1>
    <h2>Валерія</h2>
    <h3>Сергіївна</h3>
    <h4>21</h4>
    <h5>рік</h5>
    <h6>КДПУ</h6>
    <p>Два найважливіші дні у твоєму житті: день, коли ти з'явився на світ, і день, коли зрозумів, навіщо.</p>
</body>
</html>
{% endblock content %}