
{% extends 'base.tmpl' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <table style="border-style: solid; border-collapse:collapse;">
    <tr>
        <td style="border-style: solid;">Адреса</td>
        <td style="border-style: solid;">Номер телефону</td>
        <td style="border-style: solid;">КЗШ</td>
        <td style="border-style: solid;">ВНЗ</td>
    </tr>
    <tr>
        <td style="border-style: solid;">4-й Зарічний</td>
        <td style="border-style: solid;">0676644723</td>
        <td style="border-style: solid;">КЗШ № 125</td>
        <td style="border-style: solid;">Криворізький державний педагогічний університет</td>
    </tr>
   </table>
</body>
</html>

{% endblock content %}
